:root {
    --TitleColor: linear-gradient(180deg, green, white);
    --MainColor: radial-gradient( white .5%, #37c437 99.5%);
    --SecondColor: #2e9e2e;
    --SectionColor: dimgray;
    --ArticleColor:  lightgrey;
    --FooterColor: black;
    --BoxShadow: 4px 4px 16px;
    --MainFont: '2P';

}

 * {
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.2s;
    line-height: 2em;
    box-sizing: border-box;
    position: relative;
}
@font-face {
    font-family: '2P';
    src: url('2P.ttf') format(truetype);
}
h1 {
    font-family: '2P'
}
body{
    background-color: white;
    margin: auto;
    position: relative;
}
header {
    padding-bottom: 5vw;
}
#title{
    display: block;
    text-align: center;
    font: 4vw '2P';
    background-image: var(--TitleColor);
    text-shadow: 0 0 3vw white;
    padding-top: 3vw;
    height: 4vw;
}
#title:hover{
 cursor: progress;
}
.container{
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}
nav {
    max-width: 4000px;
    background-image: var(--MainColor);
    box-shadow: var(--BoxShadow);
    border-radius: 20px 0px;
    transition: 1s;
    margin: 20px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.nav-link {
    display: inline-block;
    padding: 1vw;
    text-align: center;
    font: 32px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 24%;
}
.nav-link:hover{
    background-color: yellow;
}
#main{
    position: relative;
    bottom: 5.9vw;
}
main {
    background-image: var(--MainColor);
    padding: 2vw;
    margin: 2vw 4vw;
    border-radius: 40px;
    box-shadow: var(--BoxShadow);
}
.title2 {
    padding: 0.5vw 4vw;
    margin: 0vw;
    font-size: 2.5vw;
    text-align: center;
    text-decoration: underline;
}
section {
  background-color: var(--SectionColor);
  padding: 0.3vw 0.3vw;
  margin: 2vw 4vw;
  box-shadow: var(--BoxShadow);
  font-family: 'Courier New', Courier, monospace;
}
h2 {
    padding: 0vw 4vw;
    font-size: 24px;
}
article {
    background-color: var(--ArticleColor);
    padding: 2vw;
}
.video {
    background-color: var(--SecondColor);
    box-shadow: var(--BoxShadow);
    margin: 8px auto;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
} 
footer {
    text-align: center;
    background-color: var(--FooterColor);
    color: white;
    padding: 1vw;
}
aside {
    text-align: center;
    font-weight: bold;
    margin: 1vw;
    font-size: 16px;
}
p {
    margin: 0px;
    font-size: 16px;
}
hr {
    margin: 2vw;
    z-index: -1;
}
#fim{
    font-size: 4vw;
}
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
li {
    display: inline;
}