* {
    text-align: center;
    color: white ;
}
body {
    background-image: linear-gradient(360deg, black, rgb(15, 15, 15));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}
h1{
    font-family: 'Courier New', Courier, monospace;
 background-image: radial-gradient(white 2%, yellow, black 90%);
 color: black;
}
.button {
    display: inline-block;
    font-size: 4vw;
    color: black;
    width: 25%;
    outline: 2px solid white;
    margin: 2vw;
    padding: 10vw 3vw;
    text-align: center;
}
img:not(.button){
    margin: -3px;
}
video {
    width: 800px;
    height: 450px;
}
iframe {
    width: 800px;
    height: 450px;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: disc;
}
.title {
    font-family: 'Nosifer', sans-serif;
}
table {
    background-color: blue;
}
table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px outset rgb(255, 255, 255);
    border-radius: 100px;
    border-spacing: 10px;
    width: 200px;
}
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
tr:hover {background-color: rgb(255, 0, 0);}
.nav-holder {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}
.nav {
    float: left;
    width: 25%;
}
.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration:none;
}
.nav a:hover {
    background-color: white;
}
#miuda {
    border: 2px solid white;
    padding: 10px;
    border-image-source: url(../osmelhoresdomundo/imagens/2016.jpg);
    border-image-slice: 120;
    border-image-repeat: repeat;
}