@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    text-align: center;
    color: white ;
}
body {
    background-image: linear-gradient(360deg, black, rgb(15, 15, 15));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
 background-image: radial-gradient(white 2%, yellow, black 90%);
 color: black;
}
a:not(.download) {
    padding: 200px;
    margin: 60px;
    font-size: 60px;
    color: black;
}
img {
    margin: -3px;
}
video {
    width: 800px;
    height: 450px;
}
iframe {
    width: 800px;
    height: 450px;
}
ul {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: disc;
}
.title {
    font-family: 'Nosifer', sans-serif;
}
