:root{
    --Border: solid white;
    --Gradient: radial-gradient(brown, rgb(13, 9, 37));
}
* {
    position: relative;
    border-radius: 40px;
}
body {
    background-color: rgb(13, 9, 37);
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    margin:auto;
}
.title {
 font-family: 'Courier New', Courier, monospace;
 font-size: xxx-large;
}
.thumb {
    display: block;
    margin: 0.2vw 0.2vw 0.2vw 4vw;
    padding: 0.5vw;
    height: 168px;
    width: 288px;
    border: var(--Border);
    float: left;
    background-image: var(--Gradient);
}
iframe {
    padding: 10px 80px;
    margin-right: 4vw;
    height: 800px;
    width: 1200px;
    border: var(--Border);
    float: right;
    background-image: var(--Gradient);
}