* {
    text-align: center;
    color: white ;
    text-shadow: 2px 2px rgba(255, 255, 0, 0.425) ;
}
body {
    background-image: linear-gradient(360deg, black, rgb(15, 15, 15));
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
    max-width: 1200px;
}
h1{
    font-family: "Courier New", Courier, monospace;
 background-image: radial-gradient(white 2%, yellow, black 90%);
 color: black;
}
.button {
    display: inline-block;
    font-size: 3vw;
    color: black;
    width: 25%;
    outline: 2px solid white;
    margin: 2vw;
    padding: 10vw 3vw;
    text-align: center;
}

img:not(.button){
    margin: -3px;
    max-width: 700px;

}
video, iframe{
   width: 400px;
    height: 450px;
}
ul:not(.nav-holder) {
    font-family: "Times New Roman", Times, serif;
    list-style-type: "✔️";
    columns: 3;
}
.title {
    font-family: "Nosifer", sans-serif;
}
table {
    background-color: blue;
    overflow-x: auto;
    min-width: 400px;
    max-width: 900px;
}
table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px outset rgb(255, 255, 255);
    border-radius: 100px;
    border-spacing: 10px;
    border-collapse: collapse;
    min-width: 100px;
    max-width: 235px;
}
tr:nth-child(even) {
    background-color: #96d4d423
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: #96d4d425
  }
td:hover, th:hover, tr:hover, col:hover {background-color: rgb(255, 0, 0);}
.nav-holder {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
  z-index: -1;
}
.nav {
    float: left;
    width: 25%;
}
.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration:none;
}
.nav a:hover {
    background-color: white;
}
details > summary {
    padding: 4px;
    width: 200px;
    background-color: #f50000;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #f70000;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
#miuda {
    border: 2px solid white;
    padding: 10px;
    border-image-source: url(../osmelhoresdomundo/imagens/2016.jpg);
    border-image-slice: 120;
    border-image-repeat: repeat;
}